<!DOCTYPE html>
<html lang="en-us">
  <head>
    <!-- <link href="css/core.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="js/scripts.js"></script> -->
    <title>TITLE</title>
  </head>
  <body>
    <h1>MADLIBS</h1>
    <form action="/result" method="post">
      <div class="form-group">
        <label for="noun1">Noun</label>
        <input id="noun1" name="noun1" type="text" />
      </div>

      <div class="form-group">
        <label for="noun2">Noun</label>
        <input id="noun2" name="noun2" type="text" />
      </div>

      <div class="form-group">
        <label for="adjective">Adjective</label>
        <input id="adjective" name="adjective" type="text" />
      </div>

      <div class="form-group">
        <label for="adverb">Adverb</label>
        <input id="adverb" name="adverb" type="text" />
      </div>

      <div class="form-group">
        <label for="verb1">Verb1</label>
        <input id="verb1" name="verb1" type="text" />
      </div>

      <div class="form-group">
        <label for="verb2">Verb2</label>
        <input id="verb2" name="verb2" type="text" />
      </div>

      <button type="submit">SUBMIT</button>
    </form>
  </body>
</html>
